﻿@using TRPO_Lab5.MVC.Models
@model ModelsShara
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <h1 style="text-align:center;padding-top:50px;">Введите значения</h1>
        <form asp-action="Index" asp-controller="Home">
            <div style="margin-top:100px; width:100%;" class="d-flex flex-row">
                <div style="margin-top:100px; height:225;margin-right:100px;margin-left:200px;">
                    <img src="image/ImageBall.png" alt="площадь шарого сектора"></img>
                </div>
                <div style="margin-top:50px;text-align:left;" class="d-flex flex-column">
                    <div style="align-items:center">
                        <label>Радиус шара</label>
                    <input asp-for="@Model.RadiusBall" name="radius" type="text" class="form-control" style="width:140px;">
                    </div>
                    <div style="align-items:center">
                        <label>Радиус основания конуса</label>
                        <input asp-for="@Model.RadiusKonusa" name="radiusKonusa" type="text" class="form-control" style="width:140px;">
                    </div>
                        <div class="ms-3" style="padding-left:30px;width:150px">
                            <button type="submit" class="btn btn-success form-control">Рассчитать</button>
                        </div>
                    <div>
                        @if (Model != null)
                        {
                            <h4 padding="padding-left:330px;">Ответ:</h4>
                            <div class="d-flex flex-column justify-content-center" style="text-align:left;">
                                <p class="ps-3">Радиус шара:@Model.RadiusBall</p>
                                <p class="ps-3">Радиус основания конуса:@Model.RadiusKonusa</p>
                                <p class="ps-3">Результат:@Model.Result</p>
                            </div>
                        }
                    </div>
                </div>
                
               
            </div>
           
        </form>


</body>